img {
  width: 600px;}
h1 {color:Indianred;}
body{
  background-color: lightblue;
  color: darkcyan;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}
Span{
  font-family: 'Lobster', cursive;
  font-size: 90px;
}
h1{
  background-color: antiquewhite;
}
h3{
  font-style: italic;
}
